[Desktop Entry]
Name=Dark-Army
Comment=Real-time face swap + voice changer — by Zero
Exec=DarkArmy
Icon=echelon_logo
Terminal=false
Type=Application
Categories=Video;AudioVideo;Graphics;
